html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

#frame {
    margin: auto;
    width: 400px;
    height: 800px;
    background-color: rgba(63, 56, 17, 0.801);
    border-top-left-radius: 100px 30px;
    border-top-right-radius: 100px 30px;
    border-bottom-left-radius: 100px 30px;
    border-bottom-right-radius: 100px 30px;
    padding-top: 10px;
}

#innerFrame {
    background-color: whitesmoke;
    width: 390px;
    height: 790px;
    margin: auto;
    border-top-left-radius: 100px 30px;
    border-top-right-radius: 100px 30px;
    border-bottom-left-radius: 100px 30px;
    border-bottom-right-radius: 100px 30px;
}

#speaker {
    width: 25%;
    height: 10px;
    margin: auto;
    background-color: rgb(27, 21, 4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#camera {
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    width: 12px;
    height: 12px;
    margin-top: 15px;
    margin-left: 70px;
    float: left;
}

#sensors {
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    width: 30px;
    height: 12px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;

}

#screen {
    width: 370px;
    height: 640px;
    background: linear-gradient(-85deg, rgb(17, 17, 17), rgb(92, 92, 92));
    margin: auto;
    margin-top: 60px;
}

#logo {
    width: 100px;
    margin: auto;
    margin-top: 25px;
    color: rgb(141, 126, 39);

}

#innerLogo {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(141, 126, 39);
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

#innerLogoShape {
    width: 26px;
    height: 26px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 2px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    border-top: 1px solid transparent;
    transform: rotate(45deg);
}

#innerLogoDot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 8px;
    left: 9px;
}

#innerLogoL {
    width: 5px;
    height: 14px;
    position: absolute;
    top: 8px;
    left: 14px;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

#innerLogoLine {
    width: 8px;
    height: 1px;
    border-bottom: 1px solid whitesmoke;
    position: absolute;
    top: 14px;
    left: 20px;
}

#logoText {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    letter-spacing: -2px;
}